/* line 4, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 33, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 51, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 53, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 54, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 56, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 57, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 58, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 59, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 62, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #bf00ff;
}

/* line 63, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 65, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 66, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 67, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 69, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 70, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 71, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 73, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 75, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 80, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 81, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 82, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 85, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

/* line 86, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 87, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 88, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 89, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 9, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clear {
  clear: both;
}

/* line 12, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.nowrap {
  white-space: nowrap;
}

/* line 16, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 29, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 35, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 46, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 48, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {
  display: inline;
  float: left;
  margin-right: 10px;
}
/* line 147, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .column, * html .span-1, * html .span-2, * html .span-3, * html .span-4, * html .span-5, * html .span-6, * html .span-7, * html .span-8, * html .span-9, * html .span-10, * html .span-11, * html .span-12, * html .span-13, * html .span-14, * html .span-15, * html .span-16, * html .span-17, * html .span-18, * html .span-19, * html .span-20, * html .span-21, * html .span-22, * html .span-23, * html .span-24 {
  overflow-x: hidden;
}

/* line 51, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.last {
  margin-right: 0;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-1 {
  width: 30px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-2 {
  width: 70px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-3 {
  width: 110px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-4 {
  width: 150px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-5 {
  width: 190px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-6 {
  width: 230px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-7 {
  width: 270px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-8 {
  width: 310px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-9 {
  width: 350px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-10 {
  width: 390px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-11 {
  width: 430px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-12 {
  width: 470px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-13 {
  width: 510px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-14 {
  width: 550px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-15 {
  width: 590px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-16 {
  width: 630px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-17 {
  width: 670px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-18 {
  width: 710px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-19 {
  width: 750px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-20 {
  width: 790px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-21 {
  width: 830px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-22 {
  width: 870px;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-23 {
  width: 910px;
}

/* line 58, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-24 {
  width: 950px;
  margin: 0;
}

/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-1, textarea.span-1, select.span-1 {
  width: 30px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-2, textarea.span-2, select.span-2 {
  width: 70px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-3, textarea.span-3, select.span-3 {
  width: 110px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-4, textarea.span-4, select.span-4 {
  width: 150px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-5, textarea.span-5, select.span-5 {
  width: 190px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-6, textarea.span-6, select.span-6 {
  width: 230px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-7, textarea.span-7, select.span-7 {
  width: 270px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-8, textarea.span-8, select.span-8 {
  width: 310px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-9, textarea.span-9, select.span-9 {
  width: 350px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-10, textarea.span-10, select.span-10 {
  width: 390px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-11, textarea.span-11, select.span-11 {
  width: 430px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-12, textarea.span-12, select.span-12 {
  width: 470px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-13, textarea.span-13, select.span-13 {
  width: 510px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-14, textarea.span-14, select.span-14 {
  width: 550px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-15, textarea.span-15, select.span-15 {
  width: 590px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-16, textarea.span-16, select.span-16 {
  width: 630px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-17, textarea.span-17, select.span-17 {
  width: 670px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-18, textarea.span-18, select.span-18 {
  width: 710px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-19, textarea.span-19, select.span-19 {
  width: 750px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-20, textarea.span-20, select.span-20 {
  width: 790px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-21, textarea.span-21, select.span-21 {
  width: 830px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-22, textarea.span-22, select.span-22 {
  width: 870px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-23, textarea.span-23, select.span-23 {
  width: 910px;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-24, textarea.span-24, select.span-24 {
  width: 950px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-1 {
  padding-right: 40px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-2 {
  padding-right: 80px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-3 {
  padding-right: 120px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-4 {
  padding-right: 160px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-5 {
  padding-right: 200px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-6 {
  padding-right: 240px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-7 {
  padding-right: 280px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-8 {
  padding-right: 320px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-9 {
  padding-right: 360px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-10 {
  padding-right: 400px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-11 {
  padding-right: 440px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-12 {
  padding-right: 480px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-13 {
  padding-right: 520px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-14 {
  padding-right: 560px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-15 {
  padding-right: 600px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-16 {
  padding-right: 640px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-17 {
  padding-right: 680px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-18 {
  padding-right: 720px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-19 {
  padding-right: 760px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-20 {
  padding-right: 800px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-21 {
  padding-right: 840px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-22 {
  padding-right: 880px;
}

/* line 68, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-23 {
  padding-right: 920px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-1 {
  padding-left: 40px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-2 {
  padding-left: 80px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-3 {
  padding-left: 120px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-4 {
  padding-left: 160px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-5 {
  padding-left: 200px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-6 {
  padding-left: 240px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-7 {
  padding-left: 280px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-8 {
  padding-left: 320px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-9 {
  padding-left: 360px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-10 {
  padding-left: 400px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-11 {
  padding-left: 440px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-12 {
  padding-left: 480px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-13 {
  padding-left: 520px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-14 {
  padding-left: 560px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-15 {
  padding-left: 600px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-16 {
  padding-left: 640px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-17 {
  padding-left: 680px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-18 {
  padding-left: 720px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-19 {
  padding-left: 760px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-20 {
  padding-left: 800px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-21 {
  padding-left: 840px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-22 {
  padding-left: 880px;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-23 {
  padding-left: 920px;
}

/* line 76, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {
  display: inline;
  float: left;
  position: relative;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-1 {
  margin-left: -40px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-2 {
  margin-left: -80px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-3 {
  margin-left: -120px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-4 {
  margin-left: -160px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-5 {
  margin-left: -200px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-6 {
  margin-left: -240px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-7 {
  margin-left: -280px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-8 {
  margin-left: -320px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-9 {
  margin-left: -360px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-10 {
  margin-left: -400px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-11 {
  margin-left: -440px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-12 {
  margin-left: -480px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-13 {
  margin-left: -520px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-14 {
  margin-left: -560px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-15 {
  margin-left: -600px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-16 {
  margin-left: -640px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-17 {
  margin-left: -680px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-18 {
  margin-left: -720px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-19 {
  margin-left: -760px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-20 {
  margin-left: -800px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-21 {
  margin-left: -840px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-22 {
  margin-left: -880px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-23 {
  margin-left: -920px;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-24 {
  margin-left: -960px;
}

/* line 81, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {
  display: inline;
  float: left;
  position: relative;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-1 {
  margin: 0 -40px 1.5em 40px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-2 {
  margin: 0 -80px 1.5em 80px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-3 {
  margin: 0 -120px 1.5em 120px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-4 {
  margin: 0 -160px 1.5em 160px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-5 {
  margin: 0 -200px 1.5em 200px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-6 {
  margin: 0 -240px 1.5em 240px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-7 {
  margin: 0 -280px 1.5em 280px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-8 {
  margin: 0 -320px 1.5em 320px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-9 {
  margin: 0 -360px 1.5em 360px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-10 {
  margin: 0 -400px 1.5em 400px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-11 {
  margin: 0 -440px 1.5em 440px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-12 {
  margin: 0 -480px 1.5em 480px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-13 {
  margin: 0 -520px 1.5em 520px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-14 {
  margin: 0 -560px 1.5em 560px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-15 {
  margin: 0 -600px 1.5em 600px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-16 {
  margin: 0 -640px 1.5em 640px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-17 {
  margin: 0 -680px 1.5em 680px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-18 {
  margin: 0 -720px 1.5em 720px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-19 {
  margin: 0 -760px 1.5em 760px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-20 {
  margin: 0 -800px 1.5em 800px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-21 {
  margin: 0 -840px 1.5em 840px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-22 {
  margin: 0 -880px 1.5em 880px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-23 {
  margin: 0 -920px 1.5em 920px;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-24 {
  margin: 0 -960px 1.5em 960px;
}

/* line 86, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-top {
  margin-top: 1.5em;
}

/* line 88, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-bottom {
  margin-bottom: 1.5em;
}

/* line 8, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
.showgrid {
  background: url('/images/grid.png?1311478356');
}

/* line 4, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.feedback, .error, .alert, .notice, .success, .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}

/* line 5, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error, .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error a, .alert a {
  color: #8a1f11;
}

/* line 7, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice a {
  color: #514721;
}

/* line 8, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success a {
  color: #264409;
}

/* line 9, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.info a {
  color: #205791;
}

/* line 10, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.hide {
  display: none;
}

/* line 11, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.highlight {
  background: yellow;
}

/* line 12, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.added {
  background: #006600;
  color: white;
}

/* line 13, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
label {
  font-weight: bold;
}

/* line 19, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}

/* line 20, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
legend {
  font-weight: bold;
  font-size: 1.2em;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.text, input.title, input[type=email], input[type=text], input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.title {
  font-size: 1.5em;
}

/* line 29, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
textarea {
  margin: 0.5em 0;
  padding: 5px;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
select {
  margin: 0.5em 0;
}

/* line 55, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
fieldset {
  border: 1px solid #cccccc;
}

/* line 58, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.text, input.title, input[type=email], input[type=text], input[type=password],
textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.text:focus, input.title:focus, input[type=email]:focus, input[type=text]:focus, input[type=password]:focus,
textarea:focus {
  border: 1px solid #666666;
}

/* line 65, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}

/* line 44, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
input.text, input.title, input[type=email], input[type=text], input[type=password] {
  width: 300px;
}

/* line 46, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
textarea {
  width: 390px;
  height: 250px;
}

/* line 39, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}

/* line 42, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}

/* line 45, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #dddddd;
}

/* line 47, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}

/* line 49, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}

/* line 51, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.3/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.inline p {
  margin-bottom: 0;
}
